---
- name: CONFIGURE IPv4 ADDRESSING
  hosts: Branch2S3
  vars:
    ansible_python_interpreter: /usr/bin/python3
  gather_facts: false
  connection: local
  tasks:
   - name: SET Interface
     ios_config:
       lines:
         - Int g0/10
         - Switchport mode trunk
         - Int g0/3
         - Switchport mode access
         - Switchport access vlan 30
         - Int vlan 1
         - Ip address 10.10.2.166 255.255.255.248
         - No shut
         - Ip default-gateway 10.10.2.161
         - Int vlan 99
         - Ip address 10.10.2.170 255.255.255.248
         - No shut

   - name: SET VLAN 80
     ios_config:
       parents: "vlan 80"
       lines:
         #- name ProductiondeptB2
         #- state active
   - name: SET VLAN 30
     ios_config:
       parents: "vlan 30"
       lines:
         #- name ITdeptB2
         #- state active
   - name: SET VLAN 99
     ios_config:
       parents: "vlan 99"
       lines:
         #- name ManagementB2
         #- state active

   - name: Configure Syslog Server
     ios_config:
       lines:
          - logging host 10.10.2.170
          - logging trap informational
          - logging facility local7
          - logging console

   - name: Set NTP Server
     ios_config: 
       lines:
         - Ntp server 10.10.0.105
         - clock timezone GMT +8
         - ntp authenticate

# en
# Config t
# clock timezone GMT +8
# Ntp server 10.10.0.99
# ntp authenticate
# logging host 10.10.0.99
# logging trap informational
# logging facility local7
# logging console
# Hostname Branch2S3
# vlan 80
# Vlan 30
# Vlan 99
# Int g0/10
# Switchport mode trunk
# Int g0/3
# Switchport mode access
# Switchport access vlan 30
# Int vlan 1
# Ip address 10.10.2.166 255.255.255.248
# No shut
# Ip default-gateway 10.10.2.161
# Int vlan 99
# Ip address 10.10.2.170 255.255.255.248
# No shut
# ip domain-name obr.com
# crypto key generate rsa general-keys modulus 1024
# ip ssh version 2
# username admin privilege 15 password cisco123
# line vty 0 15
# login local
# transport input all
# line con 0
# login local
# transport input all

